<div *ngIf="pokemonTeamMembers.length <= 0" class="card text-center">
  <h1>No has agregado a ningun pokemon a tu equipo</h1>
</div>
<div class="row row-cols-1 row-cols-md-3 g-4 m-2">
  <div id="card-id-{{pokemon.id}}" *ngFor="let pokemon of pokemonTeamMembers" class="col">
    <div class="card">
      <div class="row card-body">
        <div class="col-5">
          <img src="{{pokemon.sprites.front_default}}" class="card-img-top" alt="Pokemon">
          <div class="d-grid gap-2">
            <button type="button" class="btn btn-sm btn-outline-danger"
              (click)="removeFromTeam(pokemon.id)">Eliminar</button>
          </div>
        </div>
        <div class="col-7 text-center">
          <h3 class="card-text">{{pokemon.name | titlecase}}</h3>
          <p class="card-text">No. {{pokemon.id}}</p>
          <p class="card-text">Height: {{pokemon.height}} ft</p>
          <p class="card-text">Weight: {{pokemon.weight/10}} kg</p>

          <span *ngFor="let type of pokemon.types" class="badge rounded-pill bg-primary">
            {{type.type.name | titlecase}}
          </span>
        </div>
      </div>
    </div>
  </div>
</div>