<div class="container">
<div class="card">
    <div class="card-header">
      <h3>List of Regions🤡</h3>
    </div>
    <div class="card-body">
      <h3>A total of {{data.count}} regions 🏙️</h3>
      <!--<div *ngIf="resultadoBsk; else elseBlock">-->
      <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">Generation</th>
              <th scope="col">Name</th>
            </tr>
          </thead>
          <tbody *ngFor="let elemento of data.results; index as i;">
            <tr id = 'a' (click) = "getRow(i+1)">
                <td scope="row">{{i+1}}</td>
                <td>{{elemento.name}}</td>
            </tr>
          </tbody>
          </table>
  </div>
    </div>
</div>
<!-- 
<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th>Generación</th>
                <th>Región</th>
                <th>{{data.count}}</th>
            </tr>
        </thead>
        <tbody *ngFor="let elemento of data.results; index as i;">
            <tr id = 'a' (click) = "getRow(i+1)">
                <td scope="row">{{i+1}}</td>
                <td>{{elemento.name}}</td>
            </tr>
        </tbody>
    </table>
    </div>
     -->
