<div class="container">
    <mat-form-field appearance="standard">
        <mat-label>Buscar objeto</mat-label>
        <input matInput (keyup)="filterResults($event)" placeholder="Ej. Superpoción" #input>
      </mat-form-field>
      
      <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource">
      
          <ng-container matColumnDef="position">
            <th mat-header-cell *matHeaderCellDef class="text-center data"> # </th>
            <td mat-cell *matCellDef="let row"> {{row.id}} </td>
          </ng-container>
      
          <ng-container matColumnDef="image">
            <th mat-header-cell *matHeaderCellDef class="text-center icon"> Icon </th>
            <td mat-cell *matCellDef="let row" > 
                <img src="{{row.sprites.default}}" alt="pokemon" width="50" height="50">    
            </td>
          </ng-container>
      
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef class="text-center data"> Name </th>
            <td mat-cell *matCellDef="let row" class="text-center"> {{row.names[7].name}} </td>
          </ng-container>

          <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef class="long-text"> Description </th>
            <td mat-cell *matCellDef="let row"> {{row.effect_entries[0].effect}} </td>
          </ng-container>
      
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;" ></tr>
      
          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">No existe el objeto con nombre "{{input.value}}"</td>
          </tr>
        </table>
      
        <mat-paginator [pageSizeOptions]="[10, 25, 50, 100]" aria-label="Selecciona el objeto"></mat-paginator>
      </div>
</div>